.newIdeaButton {
  background: darkblue;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  padding:10px;
}

.tile{
  height: 150px;
  width: 150px;
  margin: 10px;
  background: #FFFFCC;
  float: left;
  font-size: 11px;
  text-align: left;
}

.blue-subheader{
  background-color: #000066;
  height: 50px;
  width: 80%;
  -webkit-align-self: center; /* Safari 7.0+ */
  align-self: center;
  margin-left: 10%;
  margin-top: -20px;
}
